@mixin card-text-type-style{
    color: $color3;
    background-color: $color2;
    padding: 5px 10px;
    border-radius: 5px;
}

@mixin text-overflow-ellipsis{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
